{% extends 'layout.html.twig' %}
    {% block container %}
        <!-- FORGOTTEN PASSWORD SECTION -->
        <div class="fp-section">
            <h1 id="fp-title">Mot de passe oublié</h1>
            <p class="fp-text">Veuillez saisir votre e-mail</p>
            <div class="fp-container">
                {{ form_start(forgottenPasswordForm, { 'attr': {'class': 'forgot-pass'} }) }}
                    {{ form_errors(forgottenPasswordForm) }}
                    {{ form_row(forgottenPasswordForm.email, {'attr': {'placeholder': 'E-mail ...'} }) }}
                    {{ form_errors(forgottenPasswordForm.email) }}
                    <div class="fp-form-btn fp-btn">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                {{ form_end(forgottenPasswordForm) }}
            </div>
        </div>
    {% endblock %} 