{% extends 'layout.html.twig' %}
    {% block container %}
        <div class="register-section">
            <h1>S'enregistrer</h1>
            <div class="register-form">
                {{ form_start(form) }}
                    {{ form_row(form.userName, {'attr': {'placeholder': 'Nom d\'utilisateur ...'}}) }}
                    {{ form_row(form.email, {'attr': {'placeholder': 'Email'}}) }}
                    {{ form_row(form.password, {'attr': {'placeholder': 'Mot de passe'}}) }}
                    <div class="register-form-btn">
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    {% endblock %} 