{% extends 'layout.html.twig' %}
    {% block container %}
        <!-- RESET PASSWORD SECTION -->
        <div class="fp-section">
            <h1 id="fp-title">Réinitialiser votre mot de passe</h1>
            <p class="fp-text">Veuillez saisir votre nouveau mot de passe</p>
            <div class="fp-container">
                {{ form_start(resetPasswordForm, { 'attr': {'class': 'forgot-pass'} }) }}
                    {{ form_errors(resetPasswordForm) }}
                    {{ form_row(resetPasswordForm.resetPassword.first, {'attr': {'placeholder': 'Nouveau mot de passe ...'}}) }}
                    {{ form_row(resetPasswordForm.resetPassword.second, {'attr': {'placeholder': 'Confirmer le mot de passe ...'},}) }}
                    {{ form_errors(resetPasswordForm.resetPassword) }}
                    <div class="fp-form-btn fp-btn">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                {{ form_end(resetPasswordForm) }}
            </div>
        </div>
    {% endblock %} 