{% extends 'layout.html.twig' %}

{% block container %}
    <section class="trick-banner">
        <div class="trick-banner-img">
            <img src="{{ asset('uploads/trick_images/'~trick.illustrations|first.path) }}" alt="">
        </div>
        <div class="trick-options-banner">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('trick_edit', {'slug' : trick.slug}) }}" class="btn btn-primary edit-btn"><i class="fas fa-edit"></i></a>
                <a href="{{ path('trick_delete', {'slug' : trick.slug}) }}" class="btn btn-primary delete-btn"><i class="fas fa-trash-alt"></i></a>
            {% endif %}
        </div>
        <div class="trick-name">
            <h1 class="trick-name-title">{{ trick.name }}</h1>
        </div>
    </section>
    <div class="all-sections-trick">
        <!-- Trick Section-->
        <section class="trick-show">
            <div class="trick-medias">
                {% for illustration in trick.illustrations %}
                    <img src="{{ asset('uploads/trick_images/'~illustration.path) }}" alt="" class="trick-show-illustration" width="325" height="200">
                {% endfor %}
                {% for video in trick.videos %}
                    <iframe class="trick-video" width="325" height="200" src="{{ asset(video.url) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        Votre navigateur ne peut pas lire la vidéo.
                    </iframe>
                {% endfor %}
            </div>
            <div class="trick-description">
                <p>{{ trick.description | raw }}</p>
                <div class="trick-infos">
                    <h2 class="trick-group">Groupe de la figure : {{ trick.category.name }}</h2>
                    <h2 class="trick-group">Ajouter le : {{ trick.addedAt|date("m/d/Y") }}</h2>
                </div>
            </div>
        </section>
        <!-- Comment Section-->
        <div class="trick-comment">
            {% if is_granted('ROLE_USER') %}
                <!-- Form Section-->
                <div class="comment-form">
                    {{ form_start(commentForm, {'attr' : {'class' : 'comment-form-start'}}) }}
                        {{ form_row(commentForm.content, {'attr': {'placeholder': 'Votre commentaire ...'} }) }}
                        <button class="btn btn-primary validate-comment" type="submit">Ajouter le commentaire</button>
                    {{ form_end(commentForm) }}
                </div>
            {% else %}
                <div class="comment-text">
                    <a class="btn btn-primary" href="{{path('app_login')}}">Se connecter pour commenter</a>
                </div>
            {% endif %}
            <section id="comment-list" class="comment-list">
                <h1 class="comment-title">{{ trick.comments | length }} Commentaires</h1>
                {{ include("trick/comment.html.twig") }}
            </section>
            <div>
                <button class="load-comments btn btn-primary" href="#">Afficher Plus</button>
            </div>
        </div>
    </div>
{% endblock %}