{% extends 'layout.html.twig' %}

{% block container %}
    <div class="all-sections-trick">
        <!-- Trick Section-->
        <section class="trick-show">
            <h1 class="trick-name">{{ trick.name }}</h1>
            <div class="trick-description">
                <h2>Description</h2>
                <p>{{ trick.description | raw }}</p>
            </div>
            <h2 class="trick-group">Groupe de la figure : {{ trick.category.name}}</h2>
            <h2 class="trick-illustration-title">Images</h2>
            <div class="trick-show-illustrations">
                {% for illustration in trick.illustrations %}
                    <img src="{{ asset(illustration.path) }}" alt="" class="trick-show-illustration">
                {% endfor %}
            </div>
            <h2 class="trick-video-title">Vidéos</h2>
            <div class="trick-show-videos">
                {% for video in trick.videos %}
                    <iframe class="trick-video" width="350" height="300" src="{{ asset(video.url) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        Votre navigateur ne peut pas lire la vidéo.
                    </iframe>
                {% endfor %}
            </div>
        </section>
        <!-- Comment Section-->
        <div class="trick-comment">
            <h1>{{ trick.comments | length }} Commentaires</h1>
            {% for comment in trick.comments %}
                <div>
                    <div>
                        <span>{{ comment.user.username }}</span>
                    </div>
                    <div>
                        <span>{{ comment.content }}</span>
                    </div>
                    <div>
                        <span>{{ comment.postedAt|date('d/m/Y h:i') }}</span>
                    </div>
                </div>
            {% endfor %}
            {% if is_granted('ROLE_USER') %}
                <!-- Form Section-->
                <div class="comment-form">
                    <h1>Ajouter un commentaire :</h1>
                    {{ form_start(commentForm, {attr: {novalidate: 'novalidate'}}) }}
                        {{ form_row(commentForm.content, {'attr': {'placeholder': 'Votre commentaire ...'} }) }}
                        <div class="col-md-4 col-lg-4 register-form-btn">
                            <button class="validate-comment" type="submit" class="btn btn-success">Ajouter le commentaire</button>
                        </div>
                    {{ form_end(commentForm) }}
                </div>
            {% else %}
                <h2>Il faut être connecté afin de pouvoir commenter.</h2>
                <a href="{{path('security_login')}}" class="btn btn-primary">Connexion</a>
            {% endif %}
        </div>
    </div>
{% endblock %}