{% extends 'layout.html.twig' %}

{% block container %}
    <!-- Trick Section-->
    <section class="trick-show">
        <h1 class="trick-name">{{ trick.name }}</h1>
        <div class="trick-description">
            <h2>Description</h2>
            <p>{{ trick.description | raw }}</p>
        </div>
        <h2 class="trick-group">Groupe de la figure : {{ trick.category.name}}</h2>
        <h2 class="trick-illustration-title">Images</h2>
        <div class="trick-show-illustrations">
            {% for illustration in trick.illustrations %}
                <img src="{{ asset(illustration.path) }}" alt="" class="trick-show-illustration">
            {% endfor %}
        </div>
        <h2 class="trick-video-title">Vidéos</h2>
        <div class="trick-show-videos">
            {% for video in trick.videos %}
                <iframe width="400" height="300" src="{{ asset(video.url) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    Votre navigateur ne peut pas lire la vidéo.
                </iframe>
            {% endfor %}
        </div>
    </section>

    <!-- Comment Section-->
    <div class="trick-comment">
        <h1>Commentaire</h1>
    </div>
{% endblock %}