{% extends 'layout.html.twig' %}

{% block container %}
    <!-- MENU -->
    <section id="menu-login-register" class="menu-login-register">
        {{ include("security/menu.html.twig") }}
    </section>
    <section class="trick-banner">
        <h1 class="trick-name">{{ trick.name }}</h1>
    </section>
    <div class="all-sections-trick">
        <!-- Trick Section-->
        <section class="trick-show">
            <div class="display-vids-illus">
                {% for illustration in trick.illustrations %}
                    <img src="{{ asset('uploads/trick_images/'~illustration.path) }}" alt="" class="trick-show-illustration" width="325" height="200">
                {% endfor %}
                {% for video in trick.videos %}
                    <iframe class="trick-video" width="325" height="200" src="{{ asset(video.url) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        Votre navigateur ne peut pas lire la vidéo.
                    </iframe>
                {% endfor %}
            </div>
            <div class="trick-description">
                <div>
                    <p>{{ trick.description | raw }}</p>
                </div>
            </div>
            <h2 class="trick-group">Groupe de la figure : {{ trick.category.name }}</h2>
        </section>
        <!-- Comment Section-->
        <div class="trick-comment">
            {% if is_granted('ROLE_USER') %}
                <!-- Form Section-->
                <div class="comment-form">
                    {{ form_start(commentForm, {'attr' : {'class' : 'comment-form-start'}}) }}
                        {{ form_row(commentForm.content, {'attr': {'placeholder': 'Votre commentaire ...'} }) }}
                        <button class="validate-comment" type="submit" class="btn btn-success">Ajouter le commentaire</button>
                    {{ form_end(commentForm) }}
                </div>
            {% else %}
                <h2>Il faut être connecté afin de pouvoir commenter.</h2>
                <a id="show-trick-login-btn" href="{{path('security_login')}}" class="btn btn-primary">Connexion</a>
            {% endif %}
            <h1>{{ trick.comments | length }} Commentaires</h1>
            <section id="comment-list" class="comment-list">
                {{ include("trick/comment.html.twig") }}
            </section>
            <div>
                <button class="comment-load-more btn btn-primary" href="#">Afficher Plus</button>
            </div>
        </div>
    </div>
{% endblock %}